<!-- The "include" function in EJS is used to include a piece of reusable code (another EJS file) in the current EJS file. -->
<%- include('partials/header') %>
<h1>Home</h1>
<%= homeStartingContent %>
<%- include('partials/footer') %>